# Python-related files
*.pyc
__pycache__/
venv/
env/
dist/
build/
*.egg-info/

# Development and IDE files
.idea/
.vscode/
*.pydevproject

# Dependency management
/.venv/
/.env/

# Logs and temporary files
*.log
*.swp
*.tmp

# Environment-specific files
.env
.env.local
.env.*.local

# Editor-specific files
*.bak
*~

requirements_*
majors/